* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #333;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: -apple-system, "Inter", sans-serif;
  font-weight: 400;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin width-height {
  max-height: 896px;
  max-width: 414px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.phone {
  position: relative;
  background: rgb(251, 85, 143);
  background: linear-gradient(
    140deg,
    rgba(251, 85, 143, 1) 0%,
    rgba(111, 56, 181, 1) 100%
  );
  @include width-height;
}

.header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centerpiece {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  height: 350px;
  width: 350px;
  padding: 1rem;
  color: #fff;

  h1 {
    font-weight: 700;
  }

  p {
    margin-top: 1rem;
    line-height: 1.3rem;
  }

  .button {
    margin: auto;
    margin-bottom: 0; // Keeps the margin-top pushing the button to the bottom
    background-color: #fff;
    font-weight: 600;
  }
}

.modal-bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.575);
  transition: background 300ms;
  @include width-height;
}

.modal-bg-enter {
  background: rgba(0, 0, 0, 0.1);

  .modal-flex {
    bottom: -450px;
  }
}

.modal-bg-enter-active {
  background: rgba(0, 0, 0, 0.575);
}

.modal-bg-exit {
  background: rgba(0, 0, 0, 0.575);
}

.modal-bg-exit-active {
  background: rgba(0, 0, 0, 0.1);

  .modal-flex {
    bottom: -450px;
  }
}

.modal-flex {
  position: absolute;
  transition: all 200ms;
  bottom: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-shell {
  margin-top: auto;
  max-width: 414px;
  height: 455px;
  width: 100%;
  padding: 0.75rem;
}

.modal {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.modal-header {
  text-align: center;
  user-select: none;

  h1 {
    font-size: 38px;
    color: #545454;
  }
}

.modal-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .button {
    margin-top: auto;
    min-height: 50px;
    background-color: #e5e6eb;
    font-weight: 500;
  }
}

.modal-image {
  // Dependent on your image size
  min-height: 200px;
  height: 100%;

  img {
    height: 200px;
  }

  p {
    text-align: center;
  }
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  border-radius: 50%;
  max-height: 22.5px;
  max-width: 22.5px;

  svg {
    height: 100%;
    width: 100%;

    .cls-1 {
      fill: #e5e6eb;
    }
    .cls-2 {
      stroke: #838287;
    }
  }
}

.button {
  border: none;
  border-radius: 0.75rem;
  max-width: 300px;
  height: 50px;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
}

.screen-contents {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;

  & > div {
    padding: 2rem;
  }

  .modal-header {
    padding-bottom: 1rem;
  }

  .modal-content {
    padding-top: 1rem;
  }
}

.screen {
  width: 100%;
  height: 100%;
  transition: opacity 150ms ease-in-out;
}

.screen-primary-enter {
  position: absolute;
  z-index: 99;
  opacity: 0.1;
}

.screen-primary-enter-active {
  position: absolute;
  z-index: 99;
  opacity: 1;
}

.screen-primary-exit {
  position: absolute;
  z-index: 9;
  opacity: 1;
}

.screen-primary-exit-active {
  opacity: 0.1;
  position: absolute;
  z-index: 9;
}

@media screen and (max-width: 320px) {
  .modal {
    border-radius: 1rem;
  }

  .modal-shell {
    padding: 0.5rem;
    height: 325px;
  }

  .modal-header {
    h1 {
      font-size: 32px;
    }
  }

  .modal-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;

    img {
      height: 150px;
    }
  }

  .close-button {
    top: 12.5px;
    right: 12.5px;
  }

  .screen-contents {
    & > div {
      padding: 0.75rem;
    }

    .modal-header {
      padding-top: 1rem;
      padding-bottom: 0.25rem;
    }

    .modal-content {
      padding-top: 0.25rem;
    }
  }
}
